html
	head
		title= title
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
	body
		div.containerho
			p Bienvenido a mi app, ¡estas listo para empezar?
			p
				a.btn.btn-primary(href="/login") Iniciar sesion
			p
				span.small No tienes cuenta?
				span &nbsp;
				a.small(href="/register") Registrate
